:root {
  --Borde: gray;
  --Fondo: #a9b5b8;
}
/* Principal Estructure Form */

.task-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Campo de texto */ 

.task-input {
  width: 350px;
  font-size: 18px;
  background-color: var(--Fondo);
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--Borde);
  border-right: none;
  outline: none;
}

/* Add Task Button */
.task-button {
  padding: 11px;
  font-size: 22px;
  border: 2px solid var(--Borde);
  border-left: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: var(--Fondo);
  color: gray;
  text-transform: capitalize;

}