* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #464646;
  color: white;
  font-family: Lato, sans-serif;
  /*margin-top: 40px;*/
}

h1 {
  color: #1B1B32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

.task-applications {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}

.tasks-list-principal {
  width: 600px;
  min-height: 500px;
  background-color: #a9b5b8;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoRP {
  width: 500px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;

}